body {
  font-family: monaco, Consolas, Lucida Console, monospace;
  background-color: #2F1847;
  margin: 0;
  padding: 0;
}

.Inicio, .armarTuPc, .ofertas, .servicios, .productos {
  display: grid;
  width: 100%;
  height: 130rem;
}

header {
  width: 100%;
  height: 9rem;
  display: grid;
  grid-template-columns: 10% 25% auto;
  grid-template-rows: auto;
  background-color: #2e86ab;
  border: solid 1px black;
  align-items: center;
  justify-content: space-between;
}

.img-thumbnail {
  display: flex;
  align-items: center;
  height: 6rem;
}

.d-flex .btn-buscar {
  width: 20rem;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  font-weight: 600;
  padding: 3rem;
}
nav a:hover {
  background-color: #2F1847;
  color: white;
  height: 100%;
}

.Inicio section, .armarTuPc section, .ofertas section, .servicios section, .productos section {
  display: grid;
  grid-template-rows: 40% auto auto;
  grid-template-columns: auto;
}
.Inicio section .movile-seccion, .armarTuPc section .movile-seccion, .ofertas section .movile-seccion, .servicios section .movile-seccion, .productos section .movile-seccion {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
}

.card {
  padding: 1rem;
  margin: 1rem;
  height: 28rem;
  width: 22rem;
  background-color: #2e86ab;
}
.card:hover {
  box-shadow: 5px 5px 3px #686963;
}
.card .card-body {
  display: grid;
  align-items: center;
}

.grilla-section-inicio {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
}

.pie-pagina {
  width: 100%;
  background-color: #2e86ab;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 15rem;
}

.pie-pagina .grupo-1 .box h2 {
  color: black;
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 0.9rem;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: darkblue;
}

.pie-pagina .grupo-2 {
  background-color: #2e86ab;
  padding: 1rem 0.9rem;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 1rem;
}

/*hasta aca el home*/
.productos { /*productos*/ }

.productos section {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-around;
  align-items: center;
}

.servicios { /*servicios*/ }
.servicios section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.ofertas { /*ofertas*/ }
.ofertas section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0;
}
.ofertas section h2 {
  width: 100%;
  color: #999;
  font-family: monospace;
}

.armarTuPc { /*armar tu pc*/ }
.armarTuPc section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.armarTuPc section .Amd-Intel {
  display: grid;
  grid-template-columns: auto auto;
}
.armarTuPc section .Amd-Intel .card {
  height: 32rem;
}
.armarTuPc section .armarPC-Amd-Intel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.armarTuPc section .armarPC-Amd-Intel .card h5 {
  font-size: 1rem;
}

.img-armar-tu-pc {
  display: flex;
  justify-content: center;
}

.img-fluid {
  width: 100%;
  padding: 5%;
}

section h3 {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

header {
  grid-area: header;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

@media screen and (max-width: 1200px) {
  .Inicio, .productos, .servicios, .armarTuPc, .ofertas {
    height: 250rem;
    grid-template-columns: auto auto;
    grid-template-rows: 5% auto 15%;
    grid-template-areas: "header header" "section section" "footer footer";
  }
  .dropdown-menu .img-thumbnail {
    height: 5rem;
  }
  header {
    padding: 0;
    margin: 0;
  }
  header .menu {
    display: none;
  }
  #carouselExampleControls {
    display: none;
  }
  .Inicio section, .productos section, .servicios section, .ofertas section, .armarTuPc section {
    grid-template-rows: 65% auto;
  }
  .Inicio .img-fluid, .productos .img-fluid, .servicios .img-fluid, .ofertas .img-fluid, .armarTuPc .img-fluid {
    margin: 0;
    padding: 0;
  }
  .productos section {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }
  .servicios {
    height: 100 rem;
  }
  .servicios section {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }
  .armarTuPc section {
    grid-template-rows: 20% auto;
  }
  .armarTuPc section .Amd-Intel {
    grid-template-columns: auto auto;
  }
  .armarTuPc section .Amd-Intel .card {
    height: 90%;
  }
  .armarTuPc section .armarPC-Amd-Intel {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .Inicio, .productos, .servicios, .armarTuPc, .ofertas {
    grid-template-columns: auto;
    grid-template-rows: 10% auto 20%;
    grid-template-areas: "header " "section " "footer ";
  }
  ul .dropdown-menu {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .Inicio .movile-seccion, .productos .movile-seccion, .servicios .movile-seccion, .ofertas .movile-seccion, .armarTuPc .movile-seccion {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .Inicio section, .productos section, .servicios section, .ofertas section, .armarTuPc section {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .Inicio section .grilla-section-inicio, .productos section .grilla-section-inicio, .servicios section .grilla-section-inicio, .ofertas section .grilla-section-inicio, .armarTuPc section .grilla-section-inicio {
    grid-template-columns: auto;
  }
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .productos section {
    margin: 0;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }
  .servicios section {
    grid-template-columns: auto;
  }
}/*# sourceMappingURL=style.css.map */